<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/stylesheets/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>
<body>
    <!-- this is where the error goes -->
    <div class="container">

        {{#if loggedInUser}}
            {{>headerAuth}}
        {{else}}
            {{>headerNoAuth}}
        {{/if}}

        <main>{{{body}}}</main>
        
    </div>
    {{>footer}}
</body>
</html>
